:global(.MuiContainer-root).main {
  display: flex;
  flex-direction: column;
  height: -webkit-fill-available;
  height: 100vh;
  padding-bottom: 24px;
}

:global(.MuiStack-root).body {
  overflow: hidden;
}
