:global(.MuiContainer-root).header {
  padding: 24px;

  & > h1 {
    margin-top: 0;
    text-align: center;
  }
}

:global(.MuiButtonBase-root).button {
  background-color: var(--dark-blue);
  font-family: 'Figtree', sans-serif;
  font-weight: 600;
}

:global(.MuiButtonBase-root).button_light {
  color: var(--dark-blue);
}
