:global(.MuiContainer-root).list {
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }

  &.hasSelected {
    display: none;

    @media screen and (min-width: 480px) {
      display: block;
    }
  }
}

:global(.MuiPaper-root).cardBox {
  cursor: pointer;
  margin-bottom: 12px;

  &.selected {
    border: 1px solid var(--dark-blue);
  }

  & svg {
    fill: var(--dark-blue);
    height: 20px;
    width: 20px;

    @media screen and (min-width: 480px) {
      height: 24px;
      width: 24px;
    }
  }
}

:global(.MuiCardContent-root).card:last-child {
  padding-bottom: 10px;

  & > h2 {
    font-size: 20px;
    margin: 10px 0;

    @media screen and (min-width: 480px) {
      font-size: 24px;
    }
  }

  & > hr {
    margin: 10px 0;
  }

  & .commentCount {
    margin: 0 5px 0 0;
  }

  & > .date {
    font-size: 12px;
    margin: 0;
  }
}

:global(.MuiAvatar-root).avatar {
  color: var(--dark-blue);
  background-color: var(--light-blue);
  font-family: 'Figtree', sans-serif;
  font-size: 14px;
  height: 32px;
  margin-right: 5px;
  width: 32px;

  @media screen and (min-width: 480px) {
    font-size: 16px;
    height: 40px;
    width: 40px;
  }
}
