:global(.MuiContainer-root).thread {
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }

  & input {
    font-family: 'Figtree', sans-serif;
  }

  & svg {
    fill: var(--dark-blue);
  }
}

:global(.MuiStack-root).suggestion {
  margin-bottom: 24px;

  & > p {
    font-size: 18px;
    margin: 0;
  }
}

:global(.MuiButtonBase-root).button_light {
  color: var(--dark-blue);
}
