:global(.MuiContainer-root).thread {
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }

  & h3 {
    font-size: 16px;
    margin: 0 0 10px;

    @media screen and (min-width: 480px) {
      font-size: 18px;
      margin: 0 0 17px;
    }
  }

  & input {
    font-family: 'Figtree', sans-serif;
    padding: 12px 14px;

    @media screen and (min-width: 480px) {
      padding: 16.5px 14px;
    }
  }

  & svg {
    fill: var(--dark-blue);
  }
}

:global(.MuiStack-root).suggestion {
  margin-bottom: 17px;

  @media screen and (min-width: 480px) {
    margin-bottom: 24px;
  }

  & > h2 {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 10px;

    @media screen and (min-width: 480px) {
      font-size: 24px;
      margin-bottom: 17px;
    }
  }

  & > p {
    font-size: 16px;
    margin: 0;

    @media screen and (min-width: 480px) {
      font-size: 18px;
    }
  }
}
